<h2>Reactive Forms</h2>
<div class="container">
  <form [formGroup]="petForm">
    <h2>Items</h2>
    <ul formArrayName="items">
      <li *ngFor="let item of itemsArray.controls; let i = index" [formGroupName]="i">
        <input type="checkbox" formControlName="isChecked">
        <span>{{ item.get('name')?.value }}</span>
        <div>
          <button (click)="modifyItem(i)">Modify</button>
          <button (click)="deleteItem(i)">Delete</button>
        </div>
      </li>
    </ul>
    <div class="add-item">
      <input type="text" formControlName="newItemName" placeholder="Enter item name">
      <button class="add-button" (click)="addItem()">Add Item</button>
    </div>
  </form>
</div>