<h2>Template Driven Forms</h2>
<div class="container">
  <h2>Cats</h2>
  <ul>
    <li *ngFor="let cat of cats; let i = index">
      <input type="checkbox" [(ngModel)]="cat.isChecked">
      <span>{{ cat.name }}</span>
      <div>
        <button (click)="modifyCat(i)">Modify</button>
        <button (click)="deleteCat(i)">Delete</button>
      </div>
    </li>
  </ul>
  <div class="add-pet">
    <input type="text" [(ngModel)]="newCatName" placeholder="Enter cat name">
    <button class="add-button" (click)="addCat()">Add Cat</button>
  </div>
</div>